.active {
  color:blue;
  font-size: 1.5rem;
}
.nav{
  display: flex;
  gap:20px;
  justify-content: space-between;
  list-style: none;
  max-width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}